<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    colors="true"
    failOnWarning="true"
    bootstrap="/var/www/html/vendor/autoload.php"
>
    <testsuites>
        <testsuite name="unit">
            <directory>Test/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>Test/Integration</directory>
        </testsuite>
        <testsuite name="all">
            <directory>Test/Unit</directory>
            <directory>Test/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
